<div class="all-app">
    <div id="toolbar-frame">
        <div id="scroll-buttons-frame">
            <div id="scroll-label">scrolls</div>
            <div *ngFor="let scroll of scrolls; let i = index">
                <button mat-stroked-button (click)="onScroll(i)">
                    {{ scroll.name }}
                </button>
            </div>
        </div>
        <button id="edit-scrolls-button" mat-button onclick="this.blur()" (click)="onEditScrollsClick(scrollable)">
            <mat-icon>edit</mat-icon>
            edit
        </button>
    </div>

    <ng-scrollbar id="scroll-frame" #scrollable>
        <div class="container" #containerRef id="containerID">
            <div *ngFor="let attr of storage.attrMap | keyvalue"
                 class="attr"
                 [bounds]="containerRef"
                 [inBounds]="true"
                 (endOffset)="attr.value.drag = false; onDragEnded($event, attr)"
                 (started)="attr.value.drag = true"
                 [trackPosition]="true"
                 [position]="getAttrPosition(attr)"
                 [gridSize]="5"
                 zIndex="1000"
                 zIndexMoving="99999"
                 [preventDefaultEvent]="true"
                 [handle]="dragHandle"
                 ngDraggable
                 (mouseenter)="attr.value.isSel = true"
                 (mouseleave)="attr.value.isSel = false"
                 (mousedown)="attr.value.isSel = false" >
                <div #dragHandle
                     class="attr-val centered"
                     [ngStyle]="getAttrStyle(attr)"
                     highlightSel
                     matTooltip
                     #attrToolTip="matTooltip"
                     (mouseenter)="showTooltip(attrToolTip, attr.value)"
                     (mouseleave)="attrToolTip.hide()"
                     (mousedown)="attrToolTip.hide()" >
                    {{ attr.value.formatedVal }}
                </div>
                <div class="attr-edit centered"
                     *ngIf="attr.value.isSel && !attr.value.drag"
                     (mousedown)="setStyles(attr)" >
                    <mat-icon>settings</mat-icon>
                </div>
            </div>
        </div>
    </ng-scrollbar>

    <div class="footer">
        <button id="edit-dns-button" mat-button onclick="this.blur()" (click)="setDNS()">
            <mat-icon>edit</mat-icon>
            free DNS
        </button>
        <button id="edit-binds-button" mat-button onclick="this.blur()" (click)="editBinds()">
            <mat-icon>edit</mat-icon>
            binds
        </button>
    </div>
</div>
